{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <!-- If the entry exist render it -->
    {% if entry_content %}
    <form action="{% url 'encyclopedia:edit' %}">
        <input type="hidden" name="toedit" value="{{ title }}">
        <input type="submit" value="Edit page content" class="btn">
    </form>
        <br>
        {{ entry_content }}
    <!-- Otherwise display that the content does not exist -->
    {% else %}
        <h1>{{ title }} article does not exist.</h1>
    {% endif %}
{% endblock %}