{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="container">
        {% for listing in listings %}
        {% if listing.status == 'active' %}
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-4">
                    <a href="{% url 'listing_page' listing.id %}">
                        {% if listing.image_url %}
                            <img src="{{ listing.image_url }}" height=300 width=300>
                        {% else %}
                            <img src="https://cdna.artstation.com/p/assets/images/images/011/722/048/large/borislav-kechashki-gopgap-post.jpg" height=300>
                        {% endif %}
                    </a>
                </div>
                <div class="col">

                    {% comment %} Title {% endcomment %}
                    <h2><a href="{% url 'listing_page' listing.id %}">{{ listing.name }}</a></h2>
                    
                    {% comment %} Description {% endcomment %}
                    <div>
                        <p><strong>Description</strong></p>
                        <p>{{ listing.details }}</p>
                    </div>
                    
                    {% comment %} Price {% endcomment %}
                    <div>
                        <p><strong>Price</strong></p>
                        {% comment %} Print current highest bid {% endcomment %}
                        {% for bid in bids %}
                            {% if bid.is_current == True and bid.listing_obj.id == listing.id %}
                                <p>$ {{ bid.value }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>

                    {% comment %} User owner {% endcomment %}
                    <div>
                        <p>By <strong>{{ listing.user }}</strong></p>
                    </div>

                    {% comment %} Publication date {% endcomment %}
                    <div>
                        <p>Created: {{ listing.pub_date }}</p>
                    </div>

                    {% comment %} Listing category {% endcomment %}
                    <div>
                        <p>Category: {{ listing.category }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}