{% extends "auctions/layout.html" %}

{% block body %}
    {% if is_active %}
        <h1 class="text-center section-title">Listing Page: {{ listing_current.name }}</h1>

        {% comment %} Feedback messages {% endcomment %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                        <div class="container-fluid p-0">
                            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="True">&times;</span>
                            </button>
                            {{ message | safe }}
                        </div>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}

        {% comment %} In watchlist tag {% endcomment %}
        {%if in_watchlist %}
        <div class="text-center section-title">
            <span class="badge badge-info">In watchlist</span>
        </div>
        {% endif %}

        {% comment %} Listing image {% endcomment %}
        <div class=" row d-flex align-items-center justify-content-center">
            {% if listing_current.image_url %}
                <img src="{{ listing_current.image_url }}" class="img-fluid">
            {% else %}
                <img src="https://m.media-amazon.com/images/I/91VjWQQppqL.jpg" class="img-fluid">
            {% endif %}
        </div>

        {% comment %} Close listing option {% endcomment %}
        {% if owner_equal_bidder %}
            <div class="d-flex align-items-center justify-content-center section-title">
                <form action="{% url 'close_listing' listing_current.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Close the Listing">
                </form>
            </div>
        {% endif %}

        <div class="row listing-info d-flex align-items-center justify-content-start">
            {% comment %} Listing Description {% endcomment %}
            <div class="col-12 text-center listing-description">
                <p><strong>Description</strong>: {{ listing_current.details }}</p>
            </div>

            {% comment %} Listing Bids {% endcomment %}
            <div class="col-sm-6 col-12 listing-bid">
                <h3 class="text-success">Current Bid: ${{ current_bid.value }}</h3>
                {% if number_bids > 1 %}
                    <p>{{ number_bids }} bids so far. Place your bid below.</p>
                {% else %}
                    <p>This is the initial bid. Place your bid below.</p>
                {% endif %}
                <form action="{% url 'place_bid' listing_current.user.id listing_current.id %}" method="post" class="d-flex align-items-center">
                    {% csrf_token %}
                    <input type="number" name="bid" step="0.01" min="{{ current_bid.value }}" value="{{ current_bid.value }}" class="form-control">
                    <input type="submit" value="Place Bid" class="form-control btn btn-primary">
                </form>
            </div>

            {% comment %} Listing Extra details (owner, category, etc) {% endcomment %}
            <div class="col-sm-6 col-12">
                <h3>Details: </h3>
                <ul>
                    <li>
                        Listed by: <a href="">{{ listing_current.user.username }}</a>
                    </li>
                    <li>
                        Category: <a href=""> {{ listing_current.category }} </a>
                    </li>
                </ul>
                {% comment %} Add to/ Remove from Watchlist {% endcomment %}
                {% if in_watchlist %}
                    <form action="{% url 'remove_watchlist' listing_current.id %}" method="post" "class="text-center">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline-danger" value="Remove from Watchlist">
                    </form>
                {% else %}
                    <form action="{% url 'add_watchlist' listing_current.id %}" method="post" "class="text-center">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline-info" value="Add to watchlist +">
                    </form>
                {% endif %}
            </div>

        </div>
    {% else %}
        <h1>Not Active Listing</h1>
    {% endif %}
{% endblock %}